
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
 

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease-in-out;
    
}
#navbar li a:hover,
#navbar li a.active {
    color: darkorange;
}

  
  nav {
    height: 80px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2)

  }
  
  
    #navbar {
    display: flex;
    align-items: left;
    justify-content: left;
}
 

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color:white;
    transition: 0.3s ease-in-out;
    
}
#navbar li a:hover,
#navbar li a.active {
    color: darkorange;
    
}


  
  
  .logo {
    color:black;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 5rem ;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
  }
  
  nav a:hover,
  nav a.active {
    color: orange;
    transition: 0.4s ease;

  }
  
  .hero {
    background-color:black;
    background-image: url("./kk.jpg");
    height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: 25px 0px;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
  }
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
   
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    color:white;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {

    margin-bottom: 1rem;
    font-size: 2rem;
  }
 .column-left h1:hover{
    color: orangered;
    transition: 0.5s ease-in;
 }
  
  .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
  }
  .column-left  p:hover{
    color:orangered;
    transition: 0.3s ease-in;
  }
  
  button {
     padding: 0.8rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    background:grey;
    cursor: pointer;
    border-radius: 50px;
  }
  
  button:hover {
    background:orange;
    color: black;
    transition: 0.8s ease-in;
  }
  
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }
  
  .hero-image {
    width: 10%;
    height: 1%;
  }
  
  @media screen and (max-width: 768px) {
    .hero-container {
      grid-template-columns: 1fr;
    }
  }
  

  